.photo-grid {
    box-sizing: inherit;
    max-width: 1184px;
    width: 92.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, fit-content(300px));
    gap: 16px;
    margin: 0 auto;
    padding: 92px 0 0 0;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .photo-grid {
        width: 93.75%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        gap: 12px;
        width: 90%;
        padding-top: 64px;
    }
}