.photo-grid {
    box-sizing: inherit;
    max-width: 1184px;
    width: 90.6%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, fit-content(300px));
    gap: 16px;
    margin: 0 auto;
    padding: 92px 0 0 0;
}

@media screen and (max-width: 768px) {
    /* стили для планшета */
    .photo-grid {
        
    }
}