.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 24px;
    margin-top: 0;
}

@media screen and (max-width: 700px) {
    /* стили для планшета */
    .nav-links {
        flex-direction: column;
        line-height: 3;
    }
}
@media screen and (max-width: 425px) {
    /* стили для планшета */
    .nav-links {
        margin-bottom: 16px;
    }
}